$breakpoints: (
  xs: 375px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

$content-width: 1170px;

$font-main: "Roboto", sans-serif;

$white: #ffffff;
$blue: #1078d7;
$blue-hover: #0056b3;
