@use "utils/_variables";
@use "utils/_mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(120deg, #00011a, #0f0f0f);
  font-family: "Gilroy", sans-serif;
  src: url("/fonts/Gilroy.otf") format("opentype");
  color: variables.$white;
}

hr {
  border: 1px solid rgba(#fff, 0.15);
}

h2 {
  font-weight: 700;
  font-size: 42px;
}
